---
import MONETIZATION from "../MONETIZATION.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <MONETIZATION pointer="$ilp.rafiki.money/isantoshv" />
  </head>
  <body>
    <h1 style="text-align:center;">Hello Costa Rica.</h1>
  </body>
</html>
