---
import MONETIZATION from "../MONETIZATION.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <MONETIZATION
      pointer="$ilp.rafiki.money/isantoshv"
    />
  </head>
  <body>Test</body>
</html>
